spring:
    datasource:
        url: jdbc:h2:mem:testdb
        driverClassName: org.h2.Driver
        username: sa
        password: sa
    h2:
        console:
            enabled: true
    jpa:
        database-platform: org.hibernate.dialect.H2Dialect
        defer-datasource-initialization: true
        hibernate:
            ddl-auto: create-drop
            use-new-id-generator-mappings: true
        show-sql: true
    sql:
        init: 
            mode: always
            
server:
    port: 8443
    ssl: 
      key-store: file:///Users/augustoibarrola/Development/taco-cloud-eclipse-workspace/mykeys.jks
      key-store-password: kirakira12
      key-password: kirakira12
      
logging: 
    path: /var/logs/
    file: TacoCloud.log
    level:
      root: WARN
      org:
        springframework:
          security: DEBUG