<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Taco Cloud</title>
</head>

<body>
	<h1>Design Your Taco</h1>
	<img th:src="@{/images/TacoCloud.jpeg}" />


	<form method="POST" th:object="${taco}">
		<div class="grid">


			<div class="ingredient-group" id="wraps">
				<h3>Design Your Wrap:</h3>
				<div th:each="ingredient : ${wrap}">
					<!-- <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />  -->
			<!-- 		<input name="ingredients" type="checkbox" th:value="${ingredient.getId()}" />  -->
					<input name="ingredients" type="checkbox" th:value="${ingredient.getId()}" th:field="*{ingredients}" />
					<span th:text="${ingredient.getName()}">INGREDIENT</span> 
					<br>
				</div>
			</div>


			<div class="ingredient-group" id="proteins">
				<h3>Pick Your Protein:</h3>
				<div th:each="ingredient : ${protein}">
					<!-- <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />  -->
					<!-- <input name="ingredients" type="checkbox" th:value="${ingredient.getId()}" /> -->
					<input name="ingredients" type="checkbox" th:value="${ingredient.getId()}" th:field="*{ingredients}" />
					<span th:text="${ingredient.getName()}">INGREDIENT</span> 
					<br>
				</div>
			</div>

			<div class="ingredient-group" id="cheeses">
				<h3>Pick Your Cheese:</h3>
				<div th:each="ingredient : ${cheese}">
					<!-- <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />  -->
					<!-- <input name="ingredients" type="checkbox" th:value="${ingredient.getId()}" /> -->
					<input name="ingredients" type="checkbox" th:value="${ingredient.getId()}" th:field="*{ingredients}" />
					<span th:text="${ingredient.getName()}">INGREDIENT</span> 
					<br>
				</div>
			</div>

			<div class="ingredient-group" id="veggies">
				<h3>Pick Your Veggies:</h3>
				<div th:each="ingredient : ${veggies}">
					<!-- <input name="ingredients" type="checkbox" th:value="${ingredient.id}" /> -->
					<!-- <input name="ingredients" type="checkbox" th:value="${ingredient.getId()}" />  -->
					<input name="ingredients" type="checkbox" th:value="${ingredient.getId()}" th:field="*{ingredients}" />
					<span th:text="${ingredient.getName()}">INGREDIENT</span> 
					<br>
				</div>
			</div>

			<div class="ingredient-group" id="sauces">
				<h3>Pick Your Sauces:</h3>
				<div th:each="ingredient : ${sauce}">
					<!-- <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />  -->
					<!-- <input name="ingredients" type="checkbox" th:value="${ingredient.getId()}" /> -->
					<input name="ingredients" type="checkbox" th:value="${ingredient.getId()}" th:field="*{ingredients}" />
					<span th:text="${ingredient.getName()}">INGREDIENT</span> 
					<br>
				</div>
			</div>
		</div>

		<div>
			<h3>Name Your Taco Creation:</h3>
			
			<input type="text" th:field="*{name}" /> <br>
			
			<button>Submit Your Taco</button>
		</div>

	</form>
</body>

</html>